@using Model.Models;
@model THELOAI

@{
    ViewBag.Title = "AddType";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section header{
    THÊM THỂ LOẠI
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        <div class="editor-label">
            @Html.LabelFor(model => model.TenTheLoai)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TenTheLoai)
            @Html.ValidationMessageFor(model => model.TenTheLoai)
        </div>
        <br />
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
